# 'make clean' target files
*.tex
*.dvi
*.idx
*.aux
*.log
*.ind
*.ilg 
*.o
*.d
*.asm
*.sym
vectors.S
parport.out
bootblock
kernel
xv6.img
fs.img
mkfs
_*
*.exe
bootother
bootother.out
initcode
initcode.out

# others
*.txt
*.lo
*.la
\#*#
.*.rej
*.rej
.*~
*~
.#*
.DS_Store
*.sw[po]
tags
cscope.*
*.pyc


